@model StLouisSitesMVC.ViewModels.Location.LocationCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Location</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input readonly asp-for="Id" class="form-control" value="0"/>
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="County" class="control-label">County</label>
                <select asp-for="County">
                    <option>      </option>
                    <option>St Louis City</option>
                    <option>St Louis County</option>
                    <option>St. Charles</option>
                </select>
                <span asp-validation-for="County" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="CategoryIds" class="control-label"></label>
            @foreach (var category in Model.Categories)
            {
                <label>@category.CategoryName</label>
                <input type="checkbox" name="CategoryIds" value="@category.Id" />
            }
        </div>*@
            <div class="form-group">
                <ul>
                    @for (var i = 0; i < Model.Categories.Count; i++)
                    {
                        <li>
                            <input type="checkbox" asp-for="@Model.Categories[i].Selected" />
                            <label asp-for="@Model.Categories[i].Selected">@Model.Categories[i].CategoryName</label>
                            <input type="hidden" asp-for="@Model.Categories[i].Id" />
                            <input type="hidden" asp-for="@Model.Categories[i].CategoryName" />
                        </li>
                    }
                </ul>
            </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
</form>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
