@model StLouisSitesMVC.ViewModels.Location.LocationDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<p>
    <a asp-controller="Review" asp-action="Create" asp-route-locationID="@Model.Id">Rate/Review</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>

                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>

            <td>
                @Html.DisplayFor(modelItem => Model.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Description)
            </td>



        </tr>


        @*<div>
                <a asp-action="Index">Back to List</a>
            </div>*@




    </tbody>


</table>

<br />
    <b>Ratings and Reviews</b>
<br />

@foreach (var item in Model.ReviewDetailsViewModels)
{
    
        @Html.DisplayFor(modelItem => item.Rating)
    
}
<br />
@foreach (var item in Model.ReviewDetailsViewModels)
{
   
        @Html.DisplayFor(modelItem => item.Comment)
    
}