@model IEnumerable<StLouisSitesMVC.ViewModels.Location.LocationListItemViewModel>

@{
    ViewData["Title"] = "Locations";
}

<h1>Locations</h1>

<p>
    <a asp-action="Create">Add a new location</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Location
                @*@Html.DisplayNameFor(model => model.Name)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Average Rating
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <a asp-controller="Location" asp-action="Details" asp-route-ID="@item.Id">@item.Name</a>
                    @*@Html.DisplayFor(modelItem => item.Name)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AverageRating)
                </td>
                <td>
                <td><a asp-controller="Review" asp-action="Create" asp-route-locationID="@item.Id">Rate/Review</a></td>
                <td>
                    |
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
